
.audio-player {
    background-image:linear-gradient(#66ccff, #ccebff);
  border: 2px solid red;
  padding: 0px;
  border-radius: 20px 20px;
  height: 250px;
  width: 330px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.audio-player i {
  padding 10px;
  font-size: 10vw;
  border: 2px solid blue;
  padding: 1px;
  border-radius: 10px;
}
#next-button {
    font-size: 4vw;
}

@media screen and (min-width:100%) {
  .audio-player i {
  padding 2px;
  font-size: 20px;
   border: 2px solid blue;
  padding: 1px;
  border-radius: 10px;
  }

  #next-button {
    font-size: 16px;
    
}

#now-playing {
  display: none;
  border: 2px solid #ffffff;
  padding-right: 3px;
  border-radius: 10px 10px;
 overflow: auto;
  height: 630px;
  padding-bottom: 8px;
}

.progress {
  margin-top: -7px;
  height: 2px;
  width: 90px;
  overflow: visible;
  color: #111111;
}

.active:before {
  font-family: "Material Icons";
  padding: 1px;
  border-left: 0px solid red;
  content: ' \25B6';
 position: left;
 padding-right: 5px;
  font-size: 12px;
 }

.ui-slider-handle {
  border-radius: 100%;
}

